<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/dashboard/report.js}">
</head>
<body>
<nav class="navbar navbar-dark bg-dark justify-content-start">
    <div class="container justify-content-start">
        <a class="navbar-brand" th:href="@{/}">
            <span class="shadow ">Home</span>
        </a>
        <a class="navbar-brand" th:href="@{/admin/dashboard}">
            <span class="shadow ">Dashboard</span>
        </a>
    </div>
</nav>

<div class="container">


    <div class="container-sm p-5">
        <h1 class="d-flex justify-content-center">Category</h1>
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>

            </thead>
            <tbody th:each="category : ${categories}">
            <td th:text="${category.id}"/>
            <td th:text="${category.name}"/>

            <td>
                <a th:href="@{/admin/dashboard/category/update(categoryId = ${category.id})}"
                   class="btn btn-info btn-sm" onclick="if (!(confirm('Are You Sure ?'))) return false">Update</a>
                <a th:href="@{/admin/dashboard/products/delete(categoryId = ${category.id})}"
                   class="btn btn-danger btn-sm" onclick="if (!(confirm('Are You Sure ?'))) return false">Delete</a>
            </td>
            </tbody>
        </table>
    </div>

    <div class="container-fluid pt-2">
        <div class="d-flex justify-content-center">
            <a th:href="@{/admin/dashboard/category/add}" class="btn btn-light border col-2 shadow bg-body mx-3">
                <div class="d-flex justify-content-center">
                    <label class="label d-flex justify-content-center pt-3">Add Category</label>
                </div>
            </a>
        </div>
    </div>




</div>




</body>
</html>